// main: ../main.scss
/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services {
  .service-title {
    font-size: 28px;
    font-weight: 700;
    color: var(--heading-color);
    margin-bottom: 15px;
  }

  .service-description {
    font-size: 15px;
    line-height: 1.8;
    color: var(--default-color);
  }

  img {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }
  }
}
