// main: ../main.scss
/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services {
  .service-title {
    font-size: 28px;
    font-weight: 700;
    color: var(--heading-color);
    margin-bottom: 15px;
  }

  .service-description {
    font-size: 15px;
    line-height: 1.8;
    color: var(--default-color);
  }

  img {
  }

  .serviceicon {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;

    @media (min-width: 992px) {
      width: 50%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  // Mobile styling - center text, image on top
  .row {
    flex-direction: column;
    
    > div {
      &.order-lg-2 {
        order: 1;
      }
    }
    
    .service-title,
    .service-description {
      text-align: center;
    }

    @media (min-width: 992px) {
      flex-direction: row;

      // Odd items (1st, 3rd, 5th) - text left-aligned
      &:nth-child(odd) {
        .service-title,
        .service-description {
          text-align: left;
        }
      }

      // Even items (2nd, 4th, 6th) - text right-aligned
      &:nth-child(even) {
        .service-title,
        .service-description {
          text-align: right;
        }
      }
    }
  }
}
