{% extends 'base.html' %}
{% block content %}

    <!-- Page Title -->
    <div class="page-title">
      <div class="breadcrumbs">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=""><i class="bi bi-house"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="#team">Team</a></li>
            <li class="breadcrumb-item active current">Therapist Bio</li>
          </ol>
        </nav>
      </div>

      <div class="title-wrapper">
        <h1>Holly Merrick-Liston</h1>
        <p>Licensed Professional Counseling-Mental Health (LPC-MH)</p>
      </div>
    </div><!-- End Page Title -->

    <!-- Service Details 2 Section -->
    <section id="service-details-2" class="service-details-2 section light-background">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">

            <div class="service-box">
              <h4>Services</h4>
              <div class="services-list">
                <p class="bio-list"><img src="/static/img/icons/leaf_red.svg" width=24 alt="leaf icon"><span>EMDR</span></p>
                <p class="bio-list"><img src="/static/img/icons/leaf_orange.svg" width=24 alt="leaf icon"><span>Trauma Incident Reduction</span></p>
                <p class="bio-list"><img src="/static/img/icons/leaf_yellow.svg" width=24 alt="leaf icon"><span>Product Management</span></p>
                <p class="bio-list"><img src="/static/img/icons/leaf_apple.svg" width=24 alt="leaf icon"><span>Product Management</span></p>
                <p class="bio-list"><img src="/static/img/icons/leaf_grass.svg" width=24 alt="leaf icon"><span>Product Management</span></p>
              </div>
            </div><!-- End Services List -->

            <div class="service-box">
              <h4>Insurance Accepted</h4>
              <div class="services-list">
                <p class="bio-list"><img src="/static/img/icons/leaf_teal.svg" width=24 alt="leaf icon"><span>Avera Health Plans</span></p>
                <p class="bio-list"><img src="/static/img/icons/leaf_teal.svg" width=24 alt="leaf icon"><span>BlueCross/BlueShield</span></p>
                <p class="bio-list"><img src="/static/img/icons/leaf_turqoise.svg" width=24 alt="leaf icon"><span>Dakota Care</span></p>
                <p class="bio-list"><img src="/static/img/icons/leaf_blue.svg" width=24 alt="leaf icon"><span>Medicaid</span></p>
                <p class="bio-list"><img src="/static/img/icons/leaf_marine.svg" width=24 alt="leaf icon"><span>Prime West</span></p>
                <p class="bio-list"><img src="/static/img/icons/leaf_lilac.svg" width=24 alt="leaf icon"><span>Sanford Health Plans</span></p>
                <p class="bio-list"><img src="/static/img/icons/leaf_pink.svg" width=24 alt="leaf icon"><span>Tricare</span></p>
              </div>
            </div><!-- End Services List -->

            <div class="service-box">
              <h4>Download Catalog</h4>
              <div class="download-catalog">
                <a href="#"><i class="bi bi-filetype-pdf"></i><span>Catalog PDF</span></a>
                <a href="#"><i class="bi bi-file-earmark-word"></i><span>Catalog DOC</span></a>
              </div>
            </div><!-- End Services List -->

            <div class="help-box d-flex flex-column justify-content-center align-items-center">
              <!-- <i class="bi bi-headset help-icon"></i> -->
              <h4>Request appointment with {{ name }}</h4>
              <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>+1 5589 55488 55</span></p>
              <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:contact@example.com">contact@example.com</a></p>
            </div>
          </div>

          <div class="col-lg-9 ps-lg-4 biotext" data-aos="fade-up" data-aos-delay="200">
            <h3>Welcome to Yellow Brick Road Counseling and Therapy!</h3>
            <p>&nbsp;</p>
            <img src="/static/img/person/holly-bio2.png" style="float:right; padding:0 0px 8px 20px;" alt="" class="img-fluid">
            <p>
              Hi! I have been a mental health therapist for almost 15 years, graduating from Drake University with my master’s degree in 2007. I spent some time as a school counselor before becoming licensed as an LMHC (Licensed Mental Health Counselor) in Iowa. Currently I hold an LPC-MH (Licensed Professional Counseling-Mental Health).
            </p>
            <p>
              Although I enjoy working with all age groups, I tend to treat more adolescents and young adults. I am trained in both EMDR (Eye Movement Desensitisation And Reprocessing) and TIR (Traumatic Incident Reduction). These are trauma therapies that are effective in reducing many trauma related symptoms for folks that are struggling with anxiety, depression, anger, isolation and other challenges.
            </p>
            <p>
              I love my profession as a therapist and continue to have a great passion for helping people!
              But my favorite job is being a mom! This looks differently with grown children, but it brings me so much joy. In my spare time I enjoy being with my kids having a pasta night, traveling or having very interactive conversations. My partner Dan and I enjoy several activities like spending time at the lake, boating, bike riding, walking our dogs and being with friends.
            </p>
          </div>

        </div>

      </div>

    </section><!-- /Service Details 2 Section -->

    {% endblock %}